<div class="searchGroup">

  <mat-card class="info-card">
    <p>Enter a Vehicle Number or Billing Number to verify if the customer already exists.</p>
  </mat-card>
  <div>
    <h1>Enquire Customer Entry</h1>
  </div>

  <div class="search-row">
    <h2 class="search-label">Vehicle Number</h2>

    <mat-form-field appearance="outline" class="search-input">
      <input matInput placeholder="Enter Vehicle Number" [formControl]="searchWithVehicleNbr" maxlength="13" [formControl]="searchWithVehicleNbr" (input)="onVehicleNumberInput($event)"
      (keydown)="restrictVehicleInput($event)"/>
    </mat-form-field>

    <app-button variant="primary" label="Search" width="20%" style="min-height: 50px;" mat-raised-button color="primary"
      (click)="checkExistingUser('vehicleNbr')">

    </app-button>
  </div>
  <div class="search-row">
    <h2 class="search-label">Billing Number</h2>

    <mat-form-field appearance="outline" class="search-input">
      <input matInput placeholder="Enter Bill Number" [formControl]="searchWithBillingNbr" />
    </mat-form-field>

    <app-button variant="primary" label="Search" width="20%" mat-raised-button color="primary"
      (click)="checkExistingUser('billingNbr')">

    </app-button>
  </div>
</div>


<mat-card class="alert-card" *ngIf="show" [ngClass]="type">
  <mat-icon>{{ type === 'success' ? 'person_add' : type === 'error' ? 'error' : 'warning' }}</mat-icon>
  <span class="message">{{ message }}</span>
</mat-card>

<!-- <app-new-customer-entry-form *ngIf="newCustomer" (formClosed)="handleFormClose($event)"></app-new-customer-entry-form> -->
<!-- <app-existing-customer-details *ngIf="existingCustomer"></app-existing-customer-details> -->