@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';
    
}



.searchGroup {

    h1 {
      width: 100%;
      text-align: center;
      padding: 20px 0px;
      font-family: 'Montserrat';
      margin-top: 50px;

  }

  .info-card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 0px;
    background-color: #f3f2ee;

    p {
      font-family: 'Montserrat';
      margin-bottom: 0px;
      font-size: medium;
    }
  }

  .search-row {
    min-height: 70px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
        margin-bottom: 0px;
        font-family: 'Montserrat';

    }

    mat-form-field {
        min-width: 30%;

        .mat-mdc-form-field.mat-form-field-appearance-outline
        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }
    }
}
}



.alert-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    padding: 15px 50px;
  }
    
  .alert-card.success {
    background-color: rgb(244 244 244); 
    color: red;         
  }