button.primary {
    background-color: black;
    color: white;
    min-height: 40px;
    border-radius: 0px;
    border: 0px;
  }
  
button.secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    min-height: 40px;
    border-radius: 0px;
  }

button {
    min-width: 120px;
    border-radius: 6px;
  }
  