<div class="layout">

  <aside class="sidebar">
    <mat-nav-list>
      <a mat-list-item (click)="openMonthlyCustomerForm()">
        Monthly Customer
      </a>

      <a mat-list-item (click)="openDailyCustomerForm()">
        Daily Customer
      </a>
    </mat-nav-list>
  </aside>

  <main class="content">
    <app-entry-form></app-entry-form>
    <!-- <app-monthly-customer-details *ngIf="monthlyCustomerForm && !dailyCustomerForm"></app-monthly-customer-details>
    <app-daily-customer-details *ngIf="dailyCustomerForm && !monthlyCustomerForm"></app-daily-customer-details> -->
  </main>

</div>
