.layout {
    display: grid;
    grid-template-columns: 25% 1fr;
    height: calc(100vh - 120px);
  }
  

  .sidebar {
    background-color: #f3f2ee;
    padding: 16px;
    border-right: 1px solid lightgray;
  
    mat-nav-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      a {
        border: 1px solid #000;
        text-align: center;
        border-radius: 4px;
      }
    }
  }
  
  .content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  @media (max-width: 768px) {
    .layout {
      grid-template-columns: 1fr;
    }
  
    .sidebar {
      border-bottom: 1px solid #ccc;
    }
  }
  
