<app-nav-bar></app-nav-bar>
  
<div class="layout">

  <aside class="sidebar">
    <mat-nav-list>
      <a mat-list-item (click)="openMonthlyCustomerForm()">
        Monthly Customer
      </a>

      <a mat-list-item (click)="openDailyCustomerForm()">
        Daily Customer
      </a>
    </mat-nav-list>
  </aside>

  <main class="content">
    <app-entry-form *ngIf="!monthlyCustomerForm"></app-entry-form>
    <app-monthly-customer-details *ngIf="monthlyCustomerForm"></app-monthly-customer-details>
  </main>

</div>
