<div class="parent-container">
    <header class="admin-header">
        <button mat-icon-button (click)="closeForm()" class="back-btn">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Daily Customer Details</h1>

        <img src="assets/murugar_.jpg" alt="" (click)="closeForm()">
    </header>


    <form [formGroup]="vehicleDetailsForm" (ngSubmit)="submitForm()" class="form-container">
        <div class="alert-card" *ngIf="showAlert" [ngClass]="type">
            <mat-icon>{{ type === 'success' ? 'check_circle' : 'error' }}</mat-icon>
            <span class="message">{{ message }}</span>
        </div>

        <div *ngIf="!isMonthlyActiveCustomer">

            <div class="section-title">Vehicle Details</div>
            <div class="row">
                <div class="form-group">
                    <label>Vehicle Number</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="TN 01 AB 1234" formControlName="vehicleNumber"
                            (keydown)="restrictVehicleInput($event)" (input)="onVehicleNumberInput($event)" />
                        <div class="error-msg"
                            *ngIf="vehicleDetailsForm.get('vehicleNumber')?.invalid && vehicleDetailsForm.get('vehicleNumber')?.touched">
                            <small
                                *ngIf="vehicleDetailsForm.get('vehicleNumber')?.errors?.['required']">Required</small>
                            <small *ngIf="vehicleDetailsForm.get('vehicleNumber')?.errors?.['pattern']">Invalid
                                Format</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Vehicle Type</label>
                    <div class="input-wrapper">
                        <mat-select placeholder="select Vehicle" formControlName="vehicleType">
                            <mat-option *ngFor="let types of vehicleTypes$ | async" [value]="types.vehicleType">
                                {{types.vehicleType}}
                            </mat-option>
                        </mat-select>
                        <div class="error-msg"
                            *ngIf="vehicleDetailsForm.get('vehicleType')?.invalid && vehicleDetailsForm.get('vehicleType')?.touched">
                            <small>Selection required</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>Vehicle Name</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="R15" formControlName="vehicleName" />
                        <div class="error-msg"
                            *ngIf="vehicleDetailsForm.get('vehicleName')?.invalid && (vehicleDetailsForm.get('vehicleName')?.dirty || vehicleDetailsForm.get('vehicleName')?.touched)">
                            <small>Vehicle Name is required</small>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label>Bill Number</label>
                    <div class="input-wrapper">
                        <input type="text" [formControl]="billNbr" placeholder="Bill Number" />
                        <div class="error-msg">
                
                            <small *ngIf="!isCheckingBillNumber && isBillNumberTaken && isNewDailyCustomer" style="color: red;">
                                Bill number already taken
                            </small>
                
                            <small *ngIf="billNbr.touched && billNbr.hasError('required')">
                                Bill Number is required
                            </small>
                        </div>
                
                    </div>
                  </div>
            </div>



            <div class="section-title">Customer Details</div>
            <div class="row">
                <div class="form-group">
                    <label>Customer Name</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Enter customer name" formControlName="customerName" />
                        <div class="error-msg"
                            *ngIf="vehicleDetailsForm.get('customerName')?.invalid && (vehicleDetailsForm.get('customerName')?.dirty || vehicleDetailsForm.get('customerName')?.touched)">
                            <small>Name is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <div class="input-wrapper">
                        <input
                          type="text"
                          placeholder="9123456789"
                          formControlName="customerPhoneNbr"
                          maxlength="10"
                          minlength="10"
                          (keydown)="restrictDigits($event)"
                        />
                      
                        <div class="error-msg" *ngIf="vehicleDetailsForm.get('customerPhoneNbr')?.invalid && 
                                                      vehicleDetailsForm.get('customerPhoneNbr')?.touched">
                      
                          <small *ngIf="vehicleDetailsForm.get('customerPhoneNbr')?.errors?.['required']">
                            Phone number is required
                          </small>
                      
                          <small *ngIf="vehicleDetailsForm.get('customerPhoneNbr')?.errors?.['minlength']">
                            Phone number must be at least 10 digits
                          </small>
                      
                          <small *ngIf="vehicleDetailsForm.get('customerPhoneNbr')?.errors?.['pattern']">
                            Phone number must contain only digits
                          </small>
                      
                        </div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group full-width">
                    <label>Address</label>
                    <div class="input-wrapper">
                        <textarea rows="1" formControlName="address"></textarea>
                        <div class="error-msg"
                            *ngIf="vehicleDetailsForm.get('address')?.invalid && vehicleDetailsForm.get('address')?.touched">
                            <small>Please enter the address</small>
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="section-title">Billing Details</div>

            <div class="row">
                <div class="form-group">
                    <label>Base Amount</label>
                    <div class="input-wrapper">
                        <input type="text" formControlName="amount" readonly class="readonly-input" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-group">
                        <label class="radioBtnLabel" *ngFor="let status of dailystatus">
                            <input type="radio" [value]="status" [formControl]="dailyStatus"
                                (change)="onDailyStatusChange(status)" />
                            {{ status }}
                        </label>
                        <div class="error-msg" *ngIf="dailyStatus.invalid && dailyStatus.touched">
                            <small>Please select a status</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Total Days</label>
                    <div class="input-wrapper">
                      <input class="readonly-input" [formControl]="totalDays" readonly />
                      <div class="error-msg" *ngIf="totalDays.errors?.['required'] && (totalDays.dirty || totalDays.touched)">
                          <small>totalDays is required</small>
                      </div>
                      </div>
                  </div>
            </div>

            <div class="row3">
                <div class="form-group">
                  <label>Entry Date</label>
                  <div class="input-wrapper" [class.disabled]="disabled">
                    <input type="date" [formControl]="fromDateDaily" (change)="onEntryDateChange($event)" />
                    <div class="error-msg" *ngIf="fromDateDaily.invalid && fromDateDaily.touched">
                      <small>Entry date is required</small>
                    </div>
                  </div>
                </div>
              
                <div class="form-group">
                    <label>Entry Time</label>
                    <div>
                      <div class="time-selects" [class.disabled]="disabled">
                        <select [formControl]="entryHour" (change)="onEntryDateChange($event)">
                          <option [ngValue]="null" disabled>HH</option>
                          <option *ngFor="let h of hours" [ngValue]="h">
                            {{ h | number:'2.0-0' }}
                          </option>
                        </select>
                        <span class="sep">:</span>
                        <select [formControl]="entryMinute" (change)="onEntryDateChange($event)">
                          <option [ngValue]="null" disabled>MM</option>
                          <option *ngFor="let m of minutes" [ngValue]="m">
                            {{ m | number:'2.0-0' }}
                          </option>
                        </select>
                        <select [formControl]="entryPeriod" (change)="onEntryDateChange($event)">
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>
                        </select>
                      </div>
                      <div class="error-msg" *ngIf="entryHour.invalid && entryHour.touched">
                        <small>Entry Hour is required</small>
                      </div>
                    </div>
                  </div>
              
                <div class="form-group">
                  <label>Actual Cost</label>
                  <div class="input-wrapper" [class.disabled]="disabled">
                    <input [formControl]="actualCost" placeholder="0" [readOnly]="!isNewDailyCustomer"/>
                    <div class="error-msg" *ngIf="actualCost.errors?.['required'] && (actualCost.dirty || actualCost.touched)">
                        <small>Actual Cost is required</small>
                    </div>
                    </div>
                </div>

                
              </div>

            <div class="row" *ngIf="alreadyPaid">
                <div class="form-group">
                    <label>Exit Date</label>
                    <div class="input-wrapper" [class.disabled]="disabled">
                        <input type="date" [formControl]="endDateDaily" (change)="onExitDateChange($event)" />
                        <div class="error-msg" *ngIf="endDateDaily.invalid && endDateDaily.touched">
                            <small>Exit date is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Exit Time</label>
                  
                    <div>
                      <div class="time-selects" [class.disabled]="disabled">
                        <select [formControl]="exitHour" (change)="onExitDateChange($event)">
                          <option [ngValue]="null" disabled>HH</option>
                          <option *ngFor="let h of hours" [value]="h">{{ h | number:'2.0-0' }}</option>
                        </select>
                        <span class="sep">:</span>
                        <select [formControl]="exitMinute" (change)="onExitDateChange($event)">
                          <option [ngValue]="null" disabled>MM</option>
                          <option *ngFor="let m of minutes" [value]="m">{{ m | number:'2.0-0' }}</option>
                        </select>
                        <select [formControl]="exitPeriod" (change)="onExitDateChange($event)">
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>
                        </select>
                      </div>
                  
                      <div class="error-msg" *ngIf="exitHour.invalid && exitHour.touched">
                        <small>Exit hour is required</small>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Settled Cost</label>
                    <div class="input-wrapper" [class.disabled]="disabled">
                      <input type="text" placeholder="0" [formControl]="settledCost" min="1" />
                  
                      <div class="error-msg" *ngIf="settledCost.invalid && settledCost.touched">
                        <small *ngIf="settledCost.errors?.['required']">Settled cost is required</small>
                        <small *ngIf="settledCost.errors?.['pattern']">Numbers only</small>
                        <small *ngIf="settledCost.errors?.['exceedsActual']">Settlement Cost cannot be greater than Actual cost</small>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="row">
                <div class="form-group full-width">
                    <label>Note</label>
                    <div class="input-wrapper">
                        <textarea rows="1" placeholder="Leave a comment" [formControl]="note"></textarea>
                        <div class="error-msg" *ngIf="note.invalid && note.touched">
                            <small>Note is required</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-save">Save</button>
                <button type="button" class="btn-cancel" (click)="cancelEntry()">Cancel</button>
            </div>
        </div>
    </form>
</div>