<div class="parent-container">

    <header class="admin-header">
        <button mat-icon-button (click)="closeForm()" class="back-btn">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h1>Monthly Customer Details</h1>
    </header>

    <form [formGroup]="vehicleDetailsForm" (ngSubmit)="submitForm()" class="form-container">
       

        <mat-card class="alert-card" *ngIf="showAlert" [ngClass]="type">
            <mat-icon>{{ type === 'success' ? 'person_add' : type === 'error' ? 'error' : 'warning' }}</mat-icon>
            <span class="message">{{ message }}</span>
        </mat-card>
    
        <div *ngIf="!dailyCustomerUnpaid" class="main-content">
            <div class="section vehicleDetails">
                <h2>Vehicle Details</h2>
                <div class="vehicle-info">
                    <div class="leftContainer">
                        <div class="form-group">
                            <div class="input-row">
                                <label>Vehicle Number</label>
                                <input type="text" placeholder="TN 01 AB 1234" formControlName="vehicleNumber"
                                    style="text-transform: uppercase" maxlength="13" (keydown)="restrictVehicleInput($event)"
                                    (input)="onVehicleNumberInput($event)" />
                            </div>
                    
                            <div class="error-container" *ngIf="vehicleDetailsForm.get('vehicleNumber')?.invalid && 
                                           (vehicleDetailsForm.get('vehicleNumber')?.dirty ||
                                            vehicleDetailsForm.get('vehicleNumber')?.touched)">
                                <small *ngIf="vehicleDetailsForm.get('vehicleNumber')?.errors?.['required']">Vehicle number is required</small>
                                <small *ngIf="vehicleDetailsForm.get('vehicleNumber')?.errors?.['pattern']">Format must be like TN 01 AB 1234</small>
                                <small *ngIf="vehicleDetailsForm.get('vehicleNumber')?.errors?.['letterExpected']">Only letters allowed here</small>
                                <small *ngIf="vehicleDetailsForm.get('vehicleNumber')?.errors?.['digitExpected']">Only digits allowed here</small>
                            </div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <div class="form-group">
                            <div class="input-row">
                                <label>Vehicle Type</label>
                                <mat-select placeholder="select Vehicle" formControlName="vehicleType">
                                    <mat-option *ngFor="let types of vehicleTypes$ | async"
                                        [value]="types.vehicleType">{{types.vehicleType}}</mat-option>
                                </mat-select>
                            </div>
                            <div class="error-container" *ngIf="vehicleDetailsForm.get('vehicleType')?.invalid && (vehicleDetailsForm.get('vehicleType')?.dirty || vehicleDetailsForm.get('vehicleType')?.touched)">
                                <small>Vehicle type is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="rightContainer">
                        <div class="form-group">
                            <div class="input-row">
                                <label>Vehicle Name</label>
                                <input type="text" placeholder="R15" formControlName="vehicleName" />
                            </div>
                            <div class="error-container" *ngIf="vehicleDetailsForm.get('vehicleType')?.invalid && (vehicleDetailsForm.get('vehicleType')?.dirty || vehicleDetailsForm.get('vehicleType')?.touched)">
                                <small>Vehicle type is required</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="section customerDetails">
                <h2>Customer Details</h2>
                <div class="customer-info">
                    <div class="form-group half-width">
                        <div class="input-row">
                            <label>Customer Name</label>
                            <input type="text" placeholder="Enter customer name" formControlName="customerName" />
                        </div>
                        <div class="error-container" *ngIf="vehicleDetailsForm.get('customerName')?.invalid && (vehicleDetailsForm.get('customerName')?.dirty || vehicleDetailsForm.get('customerName')?.touched)">
                            <small>Name is required</small>
                        </div>
                    </div>
    
                    <div class="form-group half-width">
                        <div class="input-row">
                            <label>Phone Number</label>
                            <input type="text" placeholder="Phone Number" maxlength="10" formControlName="customerPhoneNbr" (keydown)="restrictDigits($event)" />
                        </div>
                        <div class="error-container" *ngIf="vehicleDetailsForm.get('customerPhoneNbr')?.invalid && (vehicleDetailsForm.get('customerPhoneNbr')?.dirty || vehicleDetailsForm.get('customerPhoneNbr')?.touched)">
                            <small>Valid 10-digit number is required</small>
                        </div>
                    </div>
    
                    <div class="form-group full-width mt-10">
                        <div class="input-row">
                            <label>Address</label>
                            <textarea rows="2" formControlName="address"></textarea>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="section billing">
                <h2>Billing Details</h2>
                <div class="billing-content">
                    <div class="billing-row">
                        <div class="form-group">
                            <div class="input-row">
                                <label>Amount</label>
                                <input type="text" formControlName="amount" readonly />
                            </div>
                            <div class="error-container" *ngIf="vehicleDetailsForm.get('amount')?.invalid && (vehicleDetailsForm.get('amount')?.dirty || vehicleDetailsForm.get('amount')?.touched)">
                                <small>Amount is required</small>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <div class="input-row">
                                <label>Advance</label>
                                <input type="text" [formControl]="advance" (keydown)="restrictDigits($event)" />
                            </div>
                            <div class="error-container" *ngIf="advance.invalid && (advance.dirty || advance.touched)">
                                <small>Advance is required</small>
                            </div>
                            <div class="error-container" *ngIf="advance.value && (advance.value > (vehicleDetailsForm.get('amount')?.value))">
                                <span style="color: red; font-size: 12px;">
                                    Advance cannot be greater than the total amount
                                </span>
                            </div>
                            <div class="error-container" *ngIf="advance.errors?.['pattern']">
                                <small>Only digit is allowed.</small>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <div class="input-row">
                                <label>Status</label>
                                <div class="radio-group">
                                    <label *ngFor="let status of monthlyStatuses">
                                        <input type="radio" [value]="status" [formControl]="monthlyStatus" /> {{ status }}
                                    </label>
                                </div>
                            </div>
                            <div class="error-container" *ngIf="monthlyStatus.invalid && (monthlyStatus.dirty || monthlyStatus.touched)">
                                <small>Please select a status</small>
                            </div>
                        </div>
                    </div>
            
                    <div class="billing-row mt-20"> <div class="form-group">
                        <div class="input-row">
                            <label>From Date</label>
                            <input 
                                type="date" 
                                [formControl]="fromDateMonthly" 
                                [min]="minDate" 
                                [max]="maxDate"/>
                            
                            <div *ngIf="fromDateMonthly.value && (fromDateMonthly.value < minDate || fromDateMonthly.value > maxDate)" 
                                 style="color: red; font-size: 12px;">
                                Only current month allowed
                            </div>
                        </div>
                            <div class="error-container" *ngIf="fromDateMonthly.invalid && (fromDateMonthly.dirty || fromDateMonthly.touched)">
                                <small>Start date is required</small>
                            </div>
                        </div>
            
                        <div class="form-group" *ngIf="isStatusInActive">
                            <div class="input-row">
                                <label>End Date</label>
                                <input type="date"
                                       [formControl]="endDateMonthly"
                                       [min]="fromDateMonthly.value" />
                            </div>
                            <div class="error-container" *ngIf="endDateMonthly.invalid && (endDateMonthly.dirty || endDateMonthly.touched)">
                                <small>End date is required</small>
                            </div>
                            <!-- <div *ngIf="endDateMonthly.value 
                            && fromDateMonthly.value 
                            && (new Date(endDateMonthly.value) < new Date(fromDateMonthly.value))" 
                            style="color: red; font-size: 12px;">
                            End date cannot be less than From date
                          </div> -->
                            </div>
                    </div>
                </div>
            </div>

            <div class="section note-section">
                <div class="form-group full-width note-group">
                    <div class="input-row">
                        <label>Note</label>
                        <textarea rows="2" placeholder="Leave a comment" [formControl]="note"></textarea>
                    </div>
                    <div class="error-container" *ngIf="note.invalid && (note.dirty || note.touched)">
                        <small>Note is required</small>
                    </div>
                </div>
            </div>
    
            <div class="form-actions">
                <app-button label="Save" variant="primary" (clicked)="submitForm()"></app-button>
                <app-button label="Cancel" variant="secondary" (clicked)="cancelEntry()"></app-button>
            </div>
        </div>
    </form>
</div>