mat-toolbar {
    min-height: 120px;
    background-color: #f3f2ee;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;

    img {
        max-width: 100px;
    }
}