<div class="parent-container">

  <button (click)="closeForm()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="paymentForm">
    <div class="searchGroup">
      <div>
        <h1>Monthly Payments</h1>
      </div>
  
      <!-- <div class="search-row">
        <h2 class="search-label">Vehicle Number</h2>
  
        <mat-form-field appearance="outline" class="search-input">
          <input matInput placeholder="Enter Vehicle Number" maxlength="13" [formControl]="searchWithVehicleNbr" (input)="onVehicleNumberInput($event)"
          (keydown)="restrictVehicleInput($event)"/>
        </mat-form-field>
  
        <app-button variant="primary" label="Search" width="20%" mat-raised-button color="primary"
          (click)="checkExistingUser()">
  
        </app-button>
      </div> -->
  
    </div>
  
    <form action="" [formGroup]="monthlyPaymentForm">
      <div class="section vehicleDetails">
        <h2>Payment Details</h2>
  
        <div class="vehicle-info">
          <div class="form-group">
            <label>Vehicle Number</label>
            <input type="text" placeholder="TN 01 AB 1234" formControlName="vehicleNumber" maxlength="13" [formControl]="searchWithVehicleNbr" (input)="onVehicleNumberInput($event)"
          (keydown)="restrictVehicleInput($event)" />
          </div>
  
          <div class="form-group">
            <label>Customer Name</label>
            <input type="text" placeholder="Enter customer name" formControlName="customerName" readonly />
          </div>
  
          <div class="form-group">
            <label>Vehicle Type</label>
            <input type="text" placeholder="Vehicle Type" formControlName="vehicleType" readonly />
          </div>
  
          <div class="form-group">
            <label>Amount To Pay</label>
            <input type="text" placeholder="Amount" formControlName="amount" readonly />
          </div>
  
          <div class="form-group">
            <label>Advance Paid</label>
            <input type="text" placeholder="Advance" formControlName="advance" readonly />
          </div>

            <div class="form-group">
              <label>Transaction Date</label>
              <input type="date" formControlName="transactionDate" [max]="maxDate" />
              <div class="error-msg" *ngIf="monthlyPaymentForm.get('transactionDate')?.touched && monthlyPaymentForm.get('transactionDate')?.invalid">
                <small>Please select a valid payment date.</small>
              </div>
              <small *ngIf="monthlyPaymentForm.get('transactionDate')?.value > maxDate">
                Please select a date within the current month.
              </small>
            </div>
          </div>
      
          <div class="transactionDate">
            <label>Payment Methods</label>
            <mat-select placeholder="Payment Methods" formControlName="paymentMethod">
              <mat-option *ngFor="let types of paymentMethods$ | async" [value]="types.paymentMethod">
                {{types.paymentMethod}}
              </mat-option>
            </mat-select>
            <div class="error-msg" *ngIf="monthlyPaymentForm.get('paymentMethod')?.touched && monthlyPaymentForm.get('paymentMethod')?.invalid">
              <small>Please select a payment method (UPI, Cash, etc.).</small>
            </div>
          </div>
      
          <div class="paymentInput">
            <label>Amount</label>
            <input type="number" placeholder="Paying Amount" formControlName="payingAmount" min="1" (keydown)="restrictNegativeInput($event)"/>
            <div class="error-msg" *ngIf="monthlyPaymentForm.get('payingAmount')?.touched && monthlyPaymentForm.get('payingAmount')?.invalid">
              <small *ngIf="monthlyPaymentForm.get('payingAmount')?.errors?.['required']">Paying amount is required.</small>
              <small *ngIf="monthlyPaymentForm.get('payingAmount')?.errors?.['min']">Amount must be greater than 0.</small>
            </div>
          </div>
        <div class="button-group">
          <app-button label="Proceed Transaction" width="180px" variant="primary" type="submit"
            (click)="openDialog()"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

