<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">

    <h2>Filter Details</h2>

    <div class="customer-filter">
      <div class="filter-section">
        <div class="checkbox-group">
          <mat-checkbox [checked]="(showActive$ | async) && (showInactive$ | async)"
            [indeterminate]="(showActive$ | async) !== (showInactive$ | async)" (change)="toggleAll($event.checked)">
            <h3 class="filter-title">Customer Type</h3>
          </mat-checkbox>
          <mat-checkbox [checked]="showActive$ | async" (change)="showActive$.next($event.checked)">
            Active
          </mat-checkbox>
      
          <mat-checkbox [checked]="showInactive$ | async" (change)="showInactive$.next($event.checked)">
            InActive
          </mat-checkbox>
        </div>
      </div>

      <div class="filter-section">
        <h3 class="filter-title">Balance Range</h3>
      
        <div class="range-header">
          <span class="range-label">Selected: </span>
          <span class="range-value">
            ₹{{ (minPending$ | async) ?? 0 }} - ₹{{ (maxPending$ | async) ?? 'Max' }}
          </span>
        </div>
      
        <div class="filter-input">
          <input type="number" 
                 [(ngModel)]="minPending" 
                 placeholder="Min"
                 (keydown.enter)="showFilteredPending()">
          <span>To</span>
          <input type="number" 
                 [(ngModel)]="maxPending" 
                 placeholder="Max"
                 (keydown.enter)="showFilteredPending()">
        </div>
      
        <div class="filter-btn-grp">
          <app-button variant="secondary" 
                      label="Apply" 
                      (clicked)="showFilteredPending()">
          </app-button>
        </div>
      </div>

      <div class="filter-section">
        <h3 class="filter-title">Transaction Date</h3>
      
        <label>From</label>
        <input type="date" 
               #from 
               (change)="fromDate$.next(from.value)" />
      
        <label>To</label>
        <input type="date" 
               #to 
               (change)="toDate$.next(to.value)" />
        
        <small *ngIf="fromDate$.value && !toDate$.value" style="color: orange;">
          Please select 'To' date to see transactions
        </small>
      </div>

      <app-button variant="primary" label="Reset" (click)="resetFilters(from, to)"></app-button>

    </div>

    <div class="filter-section">
      <app-button variant="secondary" label="Download Active Customers" (clicked)="downloadActiveCustomerPDF()"></app-button>
      <!-- <app-button variant="secondary" label="Download InActive Customers"></app-button> -->
    </div>


  </mat-sidenav>

 

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-icon [routerLink]="['/dashBoard']">
        close
      </mat-icon>
      <span class="title">Monthly Customer Details </span>

      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle menu">
        <mat-icon>
          {{ opened ? 'menu_open' : 'menu' }}
        </mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <mat-card>
        <mat-card-title>{{customerType}} Customers
          <div style="display: flex;">
            <input type="text" placeholder="vehicle Number" (keyup)="filterVehicle($event)">
            <button mat-icon-button (click)="downloadFile()">
              <mat-icon>download</mat-icon>
              </button>
          </div>
          
        </mat-card-title>
        <div class="table-scroll-container">
        <table mat-table [dataSource]="(filteredCustomers$ | async) ?? []" multiTemplateDataRows class="full-width">

          <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef>Vehicle</th>
            <td mat-cell *matCellDef="let Customers">{{ Customers.vehicleNumber }}</td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let Customers">{{ Customers.customerName }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="Advance">
            <th mat-header-cell *matHeaderCellDef>Advance</th>
            <td mat-cell *matCellDef="let Customers">₹{{ Customers.advance }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="monthlyCost">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let Customers">₹{{ Customers.Transactions.monthlyCost }}</td>
            <td mat-footer-cell *matFooterCellDef>
              ₹{{totalMonthlyCost$ | async }}
            </td>
          </ng-container>

          <ng-container matColumnDef="paid">
            <th mat-header-cell *matHeaderCellDef>Paid</th>
            <td mat-cell *matCellDef="let Customers">₹{{  Customers?.Transactions?.transactionAmount ? (Customers?.Transactions?.transactionAmount) : 0 }}</td>
            <td mat-footer-cell *matFooterCellDef>
              ₹{{totalPaid$ | async}}
            </td>
          </ng-container>

          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef (click)="sortBy('pending')" class="sortable">
              Balance
              <span *ngIf="sortKey === 'pending'">
                {{ sortDirection === 'asc' ? '↑' : '↓' }}
              </span>
            </th>

            <td mat-cell *matCellDef="let Customers" [ngClass]="{'non-zero-balance': (Customers.Transactions?.currentPending > 0) && customerType === 'InActive'}">
              ₹{{ Customers.Transactions.currentPending }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              ₹{{totalBalance$ | async }}
            </td>
          </ng-container>


          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef (click)="sortBy('date')" class="sortable">
              Transaction Date
              <span *ngIf="sortKey === 'date'">
                {{ sortDirection === 'asc' ? '↑' : '↓' }}
              </span>
            </th>
          
            <td mat-cell *matCellDef="let Customers">
              {{ Customers?.Transactions?.lastTransactionDate
              ? (Customers.Transactions.lastTransactionDate )
              : 'No Transactions'
              }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>


          <ng-container matColumnDef="payMethod">
            <th mat-header-cell *matHeaderCellDef>Payment Type</th>
            <td mat-cell *matCellDef="let Customers">
              <span class="payment-method">
                {{ Customers.Transactions.paymentMethod ? (Customers.Transactions.paymentMethod) : 'Not Done'
                }}
              </span>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
<!-- 
          <ng-container matColumnDef="expand" *ngIf="test">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-icon
                class="example-toggle-button"
                [class.example-toggle-button-expanded]="isExpanded(row)"
                (click)="expandRow(row); $event.stopPropagation()">
                keyboard_arrow_down
              </mat-icon>
            </td>
          </ng-container> -->

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row"
                [attr.colspan]="CustomersAndBalanceColumns.length">
          
              <div *ngIf="(vehicleFilter$ | async) && (filteredCustomers$ | async)?.length === 1"
                   class="example-element-detail-wrapper"
                   [class.example-element-detail-wrapper-expanded]="isExpanded(row)">
          
                <div>
                  <div style="padding:16px">
                    <h4>Transaction History</h4>

                    <table class="full-width">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>To Be Paid</th>
                          <th>Transaction Amount</th>
                          <th>Pending</th>
                          <th>Transaction Type</th>
                        </tr>
                      </thead>
                      <tbody>                
                          <tr  *ngFor="let t of row.FullTransactionHistory">
                            <td>{{ t.transactionDate === null ? 'NO Transactions' : t.transactionDate  }}</td>
                            <td>{{ t.existingPending }}</td>
                            <td>₹{{ t.transactionAmount }}</td>
                            <td>{{ t.newPending }}</td>
                            <td>{{ t.transactionType  }}</td>
                          </tr>

                          <tr *ngIf="!row.FullTransactionHistory?.length">
                            <td colspan="5" style="text-align: center;">
                              No Transactions
                            </td>
                          </tr>
                      </tbody>
                    </table>
          
                  </div>
                </div>
          
              </div>
          
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="CustomersAndBalanceColumns"></tr>

          <tr mat-row 
              *matRowDef="let row; columns: CustomersAndBalanceColumns;"
              class="example-element-row"
              [class.example-expanded-row]="isExpanded(row)"
              (click)="expandRow(row)">
          </tr>
        
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="CustomersAndBalanceColumns.length">
              No customer details found...
            </td>
          </tr>
          <ng-container>
            <tr mat-footer-row *matFooterRowDef="showFooter ? CustomersAndBalanceColumns : []; sticky: true" class="footer-row"></tr>
          </ng-container>
        </table>
      </div>
      </mat-card>

    </div>
    <pre>{{ filteredCustomers$ | async | json }}</pre>

  </mat-sidenav-content>

